@page "/"
@* @rendermode InteractiveWebAssembly *@
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<PageTitle>Home</PageTitle>

<h1 class="display-3">Intranet Interview Application</h1>

<h4>Welcome to Dynamic Form Application.</h4>
